<?php
return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2'                           => true,
        'array_indentation'               => true,
        'array_syntax'                    => ['syntax' => 'short'],
        'combine_consecutive_unsets'      => true,
        'binary_operator_spaces'          => [
            'align_double_arrow' => true,
            'align_equals'       => true,
        ],
        'function_typehint_space'         => true,
        'method_separation'               => true,
        'braces'                          => ['allow_single_line_closure' => true],
        'no_unused_imports'               => true,
        'ordered_imports'                 => true,
        'return_type_declaration'         => ['space_before' => 'one'],
        'whitespace_after_comma_in_array' => true,
        'no_superfluous_elseif'           => true,
        'no_useless_else'                 => true,
        'no_whitespace_in_blank_line'     => true,
        'compact_nullable_typehint'       => true,
    ])
    ->setLineEnding("\n")
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('vendor')
            ->in(__DIR__)
    )
;