parameters:
    level: 5
    bootstrapFiles:
        - ./vendor/autoload.php
    paths:
        - ./src
    stubFiles:
        - ./stubs/swiftmailer/SimpleMimeEntity.stub.php
        - ./stubs/swiftmailer/SimpleMessage.stub.php
    excludePaths:
        # Letterpress template with `{%-- if/else --%}` pseudo-conditional comments that
        # references the App\ namespace of the (not yet existing) generated application.
        - ./src/Rebet/Application/Console/Command/skeltons/configs/*.letterpress.php
