parameters:
    level: 3
    bootstrapFiles:
        - ./vendor/autoload.php
    paths:
        - ./src
    excludePaths:
        # Letterpress template with `{%-- if/else --%}` pseudo-conditional comments that
        # references the App\ namespace of the (not yet existing) generated application.
        - ./src/Rebet/Application/Console/Command/skeltons/configs/*.letterpress.php
