<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    backupGlobals="false" 
    bootstrap="tests/src/bootstrap.php" 
    colors="true" 
    processIsolation="false" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" 
    cacheDirectory=".phpunit.cache" 
    backupStaticProperties="false"
  >
  <testsuites>
    <testsuite name="Rebet Test Suite">
      <directory suffix="Test.php">./tests/src</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".blade.php">./src</directory>
      <directory suffix=".letterpress.php">./src</directory>
    </exclude>
  </source>
</phpunit>
